@model IEnumerable<StackAGoal.Core.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}
@if (Model.Count() <= 0)
{
    <p>There are no Categories at the moment.</p>
}
else
{
    <div class="content-panel">
        <div class="dashboard-card">
            <h2>Categories</h2>
            <table class="table table-bright table-responsive">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>@Html.ActionLink("Edit", "UpdateCategory", "Categories", new { id = category.Id }, null)</td>
                            <td>@Html.ActionLink("Delete", "DeleteCategory", "Categories", new { id = category.Id }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}