@model IEnumerable<StackAGoal.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h2>Categories</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Manage Category </th>
            <th> Delete Category </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
        <tr>
            <td>@category.Name</td>
            <td>@Html.ActionLink("Edit Category", "UpdateCategory", "Categories", new { id = category.Id }, null)</td>
            <td>@Html.ActionLink("Delete Category", "DeleteCategory", "Categories", new { id = category.Id }, null)</td>

            @*<td>@Html.ActionLink("Delete Category", "DeleteCategory", "Categories", new { id = category.Id },new { data_toggle = "modal",data_target="#exampleModal" })</td>*@
        </tr>
        }
    </tbody>
</table>

<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you would like to do this? Goals with this Category will not have one anymore.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>*@
