@model IEnumerable<StackAGoal.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h2>Categories</h2>

<table class="table table-bright table-responsive">
    <thead>
        <tr>
            <th> Name </th>
            <th> Manage Category </th>
            <th> Delete Category </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
        <tr>
            <td>@category.Name</td>
            <td>@Html.ActionLink("Edit", "UpdateCategory", "Categories", new { id = category.Id }, null)</td>
            <td>@Html.ActionLink("Delete", "DeleteCategory", "Categories", new { id = category.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>