<div class="user-settings-container">
        <ul>
            <li><a asp-area="Identity" asp-page="Index">Profile</a></li>
            <li><a asp-area="Identity" asp-page="ChangePassword">Change Password</a></li>
        </ul>
  </div>