@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="login-register-container">
    <img class="nav-logo-login" src="~/images/stackagoal-dark-logo.png">
    <h3>Forgotten your password?</h3>
    <p>Enter the details below to confirm the account.</p>
    <hr />

    <form class="account-form-group" method="post">

        <div class="input-container">

            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

        </div>
        <div class="input-container">
            <button type="submit" class="form-button">Submit</button>

        </div>
    </form>
</div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
