@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-register-container">
    <img class="nav-logo-login" src="~/images/stackagoal-dark-logo.png">
    <form class="account-form-group" method="post">
        <div class="input-container">

            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="Type your email address" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

        </div>
        <div class="input-container">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" placeholder="Type your password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>


        <div class="input-container">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="input-container">
            <button class="form-button" name="submit" type="submit">Login</button>
        </div>
        <div>
            <p>
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>

        </div>

    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

