@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


    <div class="login-register-container">
        <img class="nav-logo-login" src="~/images/stackagoal-dark-logo.png">
        <h3>@ViewData["Title"]</h3>
        <p>Fill out the account details below.</p>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div class="input-container">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="input-container">

                <button type="submit" class="form-button">Register</button>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </form>


    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
