/************************************** Initial Setup**************************************/
* {
    box-sizing: border-box;
}

html, body {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    height: 100%;
    overflow-x: hidden;
    font-size: 20px;
    background-color: #F9F9F9;
}

.main-content {
    padding: 1px;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

a {
    color: #000;
    text-decoration: none;
}

    a:active, a:hover {
        color: #000;
        text-decoration: none;
    }
/************************************** Logo Component**************************************/
.nav-logo {
    display: inline-block;
    float: left;
    padding: 5px;
    width: 160px;
}


/************************************** Navigation Component**************************************/
.top-nav {
    width: 100%;
    height: 70px;
    min-height:70px;
    background-color: #81d13d;
    border-bottom: 5px solid #77bf39;
    box-shadow: 0 0 10px slategrey;
}

    .top-nav ul {
        list-style: none;
        float: right;
        margin-top: 30px;
        padding: 1px;
    }

        .top-nav ul li {
            display: inline;
            padding: 5px;
            margin-right: 5px;
        }

            .top-nav ul li a:active {
                color: #efe5dd;
            }

            .top-nav ul li a:visited {
                color: #fff;
            }

            .top-nav ul li a:hover {
                color: #4b4b4b;
            }

            .top-nav ul li a {
                padding: 5px;
            }

.nav-dropdown-menu {
    position: absolute;
    right: 10px;
    top: 55px;
    padding: 5px;
    width: 100%;
    background-color: #81d13d;
    box-shadow: 1px 1px 5px 1px gray;
}

    .nav-dropdown-menu #logoutBtn {
        padding: 5px;
        text-align: left;
        padding-left: 25px;
        width: 100%;
        color: black;
        border-radius:0;
    }

        .nav-dropdown-menu #logoutBtn:hover,
        .nav-dropdown-menu #logoutBtn:active,
        .nav-dropdown-menu #logoutBtn:focus {
            background-color: #f5f5f5;
        }

.nav-dropdown-menu {
    display: none;
}

ul.nav-dropdown-menu li {
    display: block;
}

span.nav-username {
    display: inline;
}

.menu-options-container > .nav-menu-option {
    position: relative;
    padding: 5px;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
    width: 45px;
    padding-left: 0;
    height: 40px;

}

.nav-menu-link {
    width: 100%;
    display: inline-block;
}


.nav-menu-option > a.nav-menu-link {
    border: none;
}

.nav-menu-option a.nav-menu-link:focus,
.nav-menu-option a.nav-menu-link:active {
    outline: 2px solid;
    outline-color: #77bf39;
    border: none;
}

/*OverrIding buttons as better to use then empty links,according to MDN.*/
.nav-menu-button {
    background: none !important;
    border: none;
    padding: 5px !important;
    cursor: pointer;
    text-align: left;
    display:inline-block;
    width:100%;
}

.nav-menu-button-icon {
    background: none !important;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: #069;
    cursor: pointer;
    text-align: left;
    width: 100%;
    height:100%;
    display: inline-block;
}

    .nav-menu-button-icon:focus,
    .nav-menu-button-icon:active {
        outline: 2px solid;
        outline-color: #77bf39;
        border: none;
    }

.nav-menu-option.selected > ul.nav-dropdown-menu {
    display: block;
    width: 200px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

    .nav-menu-option.selected > ul.nav-dropdown-menu li a {
        display: block;
        color: black;
        padding-left: 25px;
    }

        .nav-menu-option.selected > ul.nav-dropdown-menu li a:hover,
        .nav-menu-option.selected > ul.nav-dropdown-menu li a:focus,
        .nav-menu-option.selected > ul.nav-dropdown-menu li a:active
        {
            background-color: #f5f5f5;
        }

    .nav-menu-option.selected > ul.nav-dropdown-menu li {
        margin: 0;
        border-bottom: 1px solid #ddd;
        padding: 0;
    }

.menu-options-container {
    float: right;
    padding: 10px 5px 5px 0px;
    margin-left: 20px;
    margin-right: 5px;
    width: auto;
   
}

.nav-menu-option-icon {
    width: 25px;
    padding: 0;
    height: auto;
}

/******************** Dashboard Profile Component ******************/

.dashboard-profile-pic {
    display: block;
    width: 80px;
    margin: 10px auto 10px auto;
    border-radius: 50px;
}

.dashboard-profile-container {
    background-color: #81d13d;
    height: auto;
    text-align: center;    
    padding: 2px;
    font-size: inherit;
    border-bottom: 5px solid #77bf39;
}


/************************************** Responsive Icon Menu **************************************/


.responsive-icons-menu {
    display: none;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 18px;
    display: none;
    height: 30px;
    outline: none;

}

.icon-menu-button:active,
.icon-menu-button:focus {
    outline: 2px solid;
    outline-color: #77bf39
}




.icon-menu-button {
    background: none !important;
    border: none;
    padding: 5px !important;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.icon-menu-elipses {
    height: 6px;
    width: 6px;
    background-color: aliceblue;
    display: block;
    border-radius: 50%;
    margin: 1px auto 0 auto;
}

/************************************** Sections **************************************/
section.hero {
    width: 100%;
    height: 100px;
    background-color: greenyellow;
    padding: 5px;
}
/************************************** Login/Register Component**************************************/
.nav-logo-login {
    margin: 0 auto;
    display: block;
}

.login-register-container {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin: 25px auto 25px auto;
    padding: 10px;
    width: 95%;
    max-width: 600px;
    min-width: 250px;
    height: auto;
    box-shadow: 1px 1px 4px #6e6e6e;
}

    .login-register-container h2 {
        margin-top: 0;
        text-align: center;
    }

    .login-register-container .account-form-group {
        min-width: 50px;
        width: 100%;
        padding: 10px;
        height: 80%;
        margin: 0 auto;
        color: black;
    }

    .login-register-container .input-container {
        padding: 5px;
        width: 100%;
    }

        .login-register-container .input-container:nth-child(4) {
            margin-top: 30px;
        }

    .login-register-container .form-label {
        text-align: left;
        padding: 5px;
        display: block;
    }

    .login-register-container .input-container input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
        height: 30px;
        box-shadow: 0px 1px 1px #acacac;
        margin: 0 auto;
        border-radius: 3px;
        border: none;
        padding: 5px;
    }

    .login-register-container .input-container .form-button {
        width: 100%;
        height: 30px;
        background: none;
        background-color: #81d13d;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
    }

.field-validation-error {
    color: red;
}
/***************************************** Facebook Register/Sign in*****************************************/
.input-container.facebook {
    height: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-container .form-button.facebook-btn {
    background-color: #3C5A99;
    color: white;
    border-radius: 5px;
}

.facebook-icon {
    display: inline;
    width: 20px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px;
}
/***************************************** Google Register/Sign in*****************************************/
.input-container.google {
    height: 30px;
    width: 100%;
    position: relative;
}

.input-container .form-button.google-btn {
    background-color: #bfbfbf;
    color: white;
    border-radius: 5px;
}

.google-icon {
    display: inline;
    width: 20px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px;
}
/*************************************** Navigation - Dashboard Navigation***************************************/
.dashboard.main-header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.dashboard-main-content {
    position: relative;
    margin-top: 80px;
}

.dashboard.main-header .top-nav ul {
    margin-top: 5px;
}

.down-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
}

.dashboard-side-nav-collapse, .dashboard-side-nav-collapse.show-menu {

    display: block;
    margin-left: 0px;
    margin-bottom: 5px;
    background-color: #EFEFEF;
    width: 200px;
    color: #ffffff;
    position: fixed;
    top: 65px;
    min-height: 95%;
    z-index: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px 0px black;
    font-size: 90%;
}

.dashboard-side-nav {
    opacity: 1;
    transition: all 0.2s ease;
    width: 100%;
    color: #000;
}

.dashboard-side-nav-collapse.hide-menu {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease;
    display: block;
}

    .dashboard-side-nav-collapse.hide-menu .dashboard-side-nav {
        width: 0;
        opacity: 0;
    }

.dashboard-side-nav-main {
    display: inline;
    margin-top: 0;
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    background-color: #ffffff;
    height: 300px;
}


    .dashboard-side-nav-main a.nav-menu-link
    {
        padding: 5px;
    }

    .dashboard-side-nav-main a.nav-menu-link:hover,
    .dashboard-side-nav-main a.nav-menu-link:active,
    .dashboard-side-nav-main a.nav-menu-link:focus,
    .dashboard-side-nav-main .nav-menu-button:hover,
    .dashboard-side-nav-main .nav-menu-button:active {
        background-color: #CFCFCF !important;
        transition-duration: 0.2s;
    }

    .dashboard-side-nav-main a.nav-menu-link,
    .dashboard-side-nav-main a.nav-menu-button 
    {
        border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    }



.dashboard-main-content .top-nav ul {
    margin-top: 15px;
}

/***********Font Icons******************/
.icon-add-goal-icon:before,
.icon-view-goals-icon:before {
    margin-right: 10px;
}

/*************************************** Navigation - Dashboard Submenu Navigation***************************************/
.submenu-head {
    display: none;
    margin-top: 0;
    list-style: none;
}

li.submenu-head {
    padding: 0;
}

    li.submenu-head ul {
        padding: 0;
    }

.submenu-head.visible {
    transition-duration: 0.2s;
    display: block;
    color: #ffffff;
}


.submenu-head li.submenu:hover {
    background-color: #C9C9C9;
}

.submenu-head li.submenu {
    background-color: #E5E5E5;
    cursor: pointer;
}
/**************************************Dashboard- Inner Content **************************************/
.inner-content {
    margin-left: 210px;
    margin-right: 0;
    width: auto;
    height: 100%;
    background-color: #F9F9F9;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.dashboard-side-nav-collapse.hide-menu + .dashboard-main-content > .inner-content {
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

.dashboard-container {
    width: 100%;
    height: auto;
    background-color: red;
}

/************************************** Footer Component**************************************/
footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-container {
    width: 100%;
}
/************************************** Card Component**************************************/
.dashboard-card {
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 10px;
    box-shadow: 0 0 2px 1px #e6e6e6;
}

.dashboard-card__number {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.dashboard-card__text {
    text-align: center;
    word-wrap: break-word;
}

.content-panel {
    width: auto;
    height: auto;
    margin: 10px;
    background-color: #C6C3C3;
}

/************************************** Scrollbar Component**************************************/
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/************************************** Hamburger Component**************************************/

.hamburger-bar{
    display: block;
    width: 24px;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 3px;
    opacity: 1;
    transition: ease-in 0.1s;
}



.hamburger-menu {
    margin: 20px auto 0 10px;
    float: left;
    width: 34px;
    height: 28px;
    position: relative;
}



#nav-button-hamburger {
    background: none !important;
    border: none;
    padding: 4px !important;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}



    #nav-button-hamburger:focus,
    #nav-button-hamburger:active {
        outline: 2px solid #77bf39;
        
    }

/************** Hamburger rotation effect *******************************/

input[type=checkbox]#hamburger-checkbox:checked + .hamburger-bar {
    margin-top: 10px;
    transform: rotate(45deg);
}

    input[type=checkbox]#hamburger-checkbox:checked + .hamburger-bar + .hamburger-bar {
        visibility: hidden;
        margin-bottom: 0;
        display: block;
    }

        input[type=checkbox]#hamburger-checkbox:checked + .hamburger-bar + .hamburger-bar + .hamburger-bar {
            margin-top: -17px;
            transform: rotate(-45deg);
        }


/*********************Bootstrap Overrides*************************************/
.container.body-content.inner-content {
    margin-left: 210px;
    margin-right: 0;
    width: auto;
    height: auto;
    background-color: #F9F9F9;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.dashboard-side-nav-collapse.hide-menu + .container.body-content.inner-content {
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

.table-bright {
    box-shadow: 1px 1px 5px 1px #e3e3e3;
    border-radius: 10px;
}

    .table-bright thead {
        background-color: #C4FFD5;
    }

/*********************Checkpoint Component*************************************/


.checkpoint-container {
    background-color: #EFEFEF;
    height: 450px;
    padding: 5px;
    height: auto;
    border-radius: 4px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #cecece;
}

.checkpoint-item-container {
    height: auto;
    margin-bottom: 3px;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
    padding: 0 10px 10px 10px;
    transition: background-color 0.2s,opacity 0.2s;
    opacity: 1;
}

    .checkpoint-item-container.deleted {
        opacity: 0;
    }

    .checkpoint-item-container:hover {
        background-color: #dbdbdb;
    }

input.js-checkpoint-btn.btn.btn-primary {
    display: block;
    margin: 0 auto;
}

.js-checkpoint-description-input {
    width: 100%;
}

.edit-box {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
}


/*********Checkpoint Textarea****************/
textarea.checkpoint-description.readonly {
    border: none;
    background-color: #e3e3e3;
}

textarea.checkpoint-description:focus {
    background-color: #fff;
}

textarea.checkpoint-description.readonly:focus {
    background-color: #e3e3e3;
}

textarea.checkpoint-description,
textarea.checkpoint-description.readonly {
    word-wrap: break-word;
    width: 85%;
    height: auto;
    margin-left: 15px;
    resize: none;
    border-radius: 5px;
}

/*********Checkpoint done marker****************/

.checkpoint-done {
    position: absolute;
    top: 0;
    width: 30px;
    right: 0;
    height: 35px;
    height: 30px;
}

.checkpoint-done {
    color: #00c44b;
}


/****************  Checkpoint-popup-box**************************************/
.checkpoint-header {
    background-color: greenyellow;
    margin-top: 0;
    height: 30px;
    border-top-left-radius: 5px;
}

.checkpoint-edit-menu {
    font-size: 80%;
    z-index: 4;
    top: 20px;
    width: 200px;
    position: absolute;
    background-color: rgb(245, 245, 245);
    padding: 0px 0 0 0;
    border-top-left-radius: 5px;
    box-shadow: 0 2px 5px 1px #7b7b7b;
}

    .checkpoint-edit-menu p {
        text-align: center;
    }

    .checkpoint-edit-menu ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

        .checkpoint-edit-menu ul li {
            border-bottom: 1px solid #dddddd;
            background-color: #ebebeb;
            padding: 5px;
        }

            .checkpoint-edit-menu ul li:hover {
                background-color: aliceblue;
            }

            .checkpoint-edit-menu ul li a {
                width: 100%;
                padding-right: 165px;
            }

.checkpoint-edit-save-btn {
    display: block;
    margin-right: 0px;
    margin-left: auto;
}

    .checkpoint-edit-save-btn.editmode {
        display: block;
        margin-right: 0px;
        margin-left: auto;
    }

.checkpoint-edit-save-btn {
    display: none;
}

/**************Icon selector component************/
.icon-selector-container .icon-list {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px;
    display: inline-block;
}

    .icon-selector-container .icon-list .active-icon {
        box-shadow: 1px 1px 5px 1px #08f;
        border-radius: 5px;
    }
    .icon-selector-container .icon-list .icon-item,
    .selected-icon-container .selected-icon {
        display: inline-block;
        width: 50px;
        height: 50px
    }




